<div id="welcomeContainer" style="display: none;">
    <!--<div class="cloudDiv">
        <div class="cloudTop"></div>
        <div class="cloudBottom"></div>
    </div>-->
    <div id="welcomeContent">
        <img id="welcomeImageSeal" src="assets/images/Logo.png"/>
        <span id="welcomeHeader">BIENVENUE SUR NERCORIA</span>
        <span id="welcomeDescription">Bienvenue sur Nercoria jeune aventurier. Ton aventure va pouvoir commencer dans quelques instants, mais avant, je t'invite à lire ce texte pour te rappeler certains points. Tout d'abord, nours rappelons que Nercoria est un serveur ouvert uniquement aux comptes premiums. Par conséquent, vous devez posséder un compte Minecraft. Ensuite, nous rappelons que pour tous support, vous pouvez ouvrir un ticket sur notre site ou encore passez sur notre TeamSpeak, qui vous permettra d'avoir une relation direct avec nos staffs.</span>
        <br>
        <span id="welcomeDescCTA">Ceci étant dit, je te souhaite un bon jeu sur Nercoria !</span>
        <button id="welcomeButton">
            <div id="welcomeButtonContent">
                CONTINUER
                <svg id="welcomeSVG" viewBox="0 0 24.87 13.97">
                    <defs>
                        <style>.arrowLine{fill:none;stroke:#FFF;stroke-width:2px;transition: 0.25s ease;}</style>
                    </defs>
                    <polyline class="arrowLine" points="0.71 13.26 12.56 1.41 24.16 13.02"/>
                </svg>
            </div>
        </button>
    </div>
    <script src="./assets/js/scripts/welcome.js"></script>
</div>